@model LibraryApp.WebApp.NotifyModels.ErrorViewModel

@{
    ViewBag.Title = Model.Title;
}

<section class="login-info">
    <div class="container">
        <div class="row" style="height: 50px">
        </div>
        <div class="row main">
            <div class="form-header">
                <h1 class="text-center">@Model.Header</h1>
            </div>
            <div class="main-content">
                <div class="text-@Model.Color">
                    <h2><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;&nbsp;@Model.Title</h2>
                    <hr />
                    <p class="text-justify">
                        @foreach (var el in Model.Items)
                        {
                            @el.Message
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@*@{
        string js = string.Empty;
        if (Model.IsRedirecting)
        {
            js = String.Empty;

        }
    }*@

<script>
    setTimeout(function() {

        window.location = "@Model.RedirectingUrl";
    },@Model.RedirectingTimeout)
</script>

@*@{
        string js = string.Empty;

        if(Model.IsRedirecting)
        {
            js = "setTimeout(function () { window.location = '" + Model.RedirectingUrl + "'; }, " +
                 Model.RedirectingTimeout + ");";
        }
    }

    <script>

        $(function () {
            @Html.Raw(js);
        });*@
</script>