@{
    ViewBag.Title = "Yetkisiz Erişim";
}
<div class="row" style="height: 70px">
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1 style="color:red">
            <span class="glyphicon glyphicon-remove-circle"></span> Yetkisiz Erişim
        </h1>
        <br />
        <p>
            Bu sayfaya yetkiniz bulunmamaktadır.
            <br /><br />

            <a class="btn btn-info" href="~/Home/Index">Anasayfaya Git!</a>
        </p>
    </div>
</div>