@using LibraryApp.BusinessLayer
<!-- /.row -->

@{

    var countCategories = new CategoryManager().GetCategories().Count;

    var countBooks = new BookManager().GetBookList().Count;
    var countBooksAvailable = new BookManager().GetBookListAvailable().Count;

}

<div class="row">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Anasayfa</h1>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-book fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@countCategories</div>
                        <div>Kategoriler</div>
                    </div>
                </div>
            </div>
            <a href="~/Home/CategoryList">
                <div class="panel-footer">
                    <span class="pull-left">Detaylar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-book fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@countBooks</div>
                        <div>Kitaplar</div>
                    </div>
                </div>
            </div>
            <a href="~/Home/BookList">
                <div class="panel-footer">
                    <span class="pull-left">Detaylar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">@countBooksAvailable</div>
                        <div>Müsait Kitaplar</div>
                    </div>
                </div>
            </div>
            <a href="~/Home/BookListAvailable">
                <div class="panel-footer">
                    <span class="pull-left">Detaylar</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>