@using LibraryApp.Entities
@model User

    <div class="row">

        <div class="col-md-4">
            <h2>safdasfasdf</h2>
        </div>

        <div class="col-md-8">

            @Html.DisplayFor(x => x.Name)
            @Html.DisplayFor(x => x.Surname)
            @Html.DisplayFor(x => x.Email)
            @Html.DisplayFor(x => x.Username)


        </div>

    </div>

